.Title {

  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #1a1713;
}

.question-container {
  text-align: center;
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 19px;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #1a1713;
}

.commentary {

  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  color: #1a1713;
}

.choices-container {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice {
  width: 347px;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #ffbf66;
  border-radius: 16px;
  border-color: #ffbf66;
  color: #1a1713;
  font-size: 20px;
  font-family: Prata;
  align-content: center;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.choice:hover{
  background-color: #ff9500;
  border-color: #ff9500;
  color: #1a1713;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.Judgement_correct {
  background-color: #ff66a6;
  max-width: inherit;
  width: 100%;
  position: absolute;
  top: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Judgement_wrong {
  background-color: #66a6ff;
  max-width: inherit;
  width: 100%;
  position: absolute;
  top: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__closeBtn{
  margin-top: 200px;
  width: 100px;
  color: #1a1713;
  background-color: #ffbf66;
  border-radius: 14px;
  font-family: Prata;
  font-size: 25px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}

.result{
  background-color: #f4ede6;
  max-width: inherit;
  width: 100%;
  position: absolute;
  top: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score{
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  color: #1a1713;
}

.answer{
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  color: #1a1713;
}